<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/src/public/css/styles.css">
</head>
<body>
    <h1>Lista de Superhéroes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta de Origen</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliados</th>
                <th>Enemigos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% superheroes.forEach(superheroe => { %>
                <tr>
                    <td><%= superheroe.nombreSuperHeroe %></td>
                    <td><%= superheroe.nombreReal %></td>
                    <td><%= superheroe.edad %></td>
                    <td><%= superheroe.planetaOrigen %></td>
                    <td><%= superheroe.debilidad %></td>
                    <td><%= superheroe.poderes.join(", ") %></td>
                    <td><%= superheroe.aliados.join(", ") %></td>
                    <td><%= superheroe.enemigos.join(", ") %></td>
                    <td>
                        <!-- Botón de Editar -->
                        <a href="/heroes/<%= superheroe._id %>/editar" class="edit-button">Editar</a>

                        <!-- Botón de Eliminar -->
                        <form action="/heroes/<%= superheroe._id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE"> <!-- Requiere method-override -->
                            <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro de eliminar este superhéroe?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
